.facilities {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px 70px;
    font-size: 13px;
}
.facilities .flex {
    justify-content: flex-start;
}
.facilities .flex img {
    margin-right: 15px;
}
