.facilities {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px 70px;
    font-size: 13px;
}
.facilities .flex {
    justify-content: flex-start;
}
.facilities .flex img {
    margin-right: 15px;
    width: 40px;
}
.facilities .flex:hover {
    transform: scale(1.1) !important;
    transition: 0.4s;
    transition-duration: 0;
}
