.servicePage .container {
    background: url(/img/general/line-bg.png);
    background-position: center;
    background-size: contain;
    padding-top: 50px;
    padding-bottom: 130px;
    width: 1700px;
    margin: auto;
}
.servicePage .container .playfair {
    font-size: 42px;
    max-width: 523px;
    color: #334e60;
}
.servicePage .first.flex {
    align-items: flex-start;
    margin-top: 30px;
    margin-bottom: 50px;
}
.servicePage .spabox {
    width: 70%;
    height: 600px;
    background: url(/img/services/1.png) no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 30px;
}
.servicePage .spabox .inner_box {
    padding: 45px 64px;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0)
    );
    text-align: center;
}
.servicePage .spabox .inner_box .playfair {
    margin: auto;
}
.servicePage .spabox p {
    margin: 18px 0;
}
.servicePage .icon {
    background: #334e60;
    padding: 5px;
}
.servicePage .side_boxes {
    width: 35%;
}
.servicePage .side_boxes .sidebox {
    width: 100%;
    height: 288px;
}
.servicePage .side_boxes .sb1 {
    background: url(/img/services/2.png) no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 288px;
    margin-bottom: 25px;
    align-items: flex-end;
    padding: 30px 40px;
}
.servicePage .side_boxes .sb1::before {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to top,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0)
    );
}
.servicePage .side_boxes .sb2 {
    background: #eeeeee;
    padding: 40px;
    text-align: right;
}
.servicePage .service_title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 100;
}
.servicePage .service_title img {
    margin-right: 15px;
}
.servicePage .side_boxes .sb2 p {
    text-align: left;
    margin-bottom: 50px;
}

.servicePage .other_services .head {
    text-align: center;
    margin-bottom: 37px;
}
.servicePage .other_services .head h6 {
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 16px;
}
.servicePage .other_services .head p {
    max-width: 350px;
    margin: auto;
}
.servicePage .other_services .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
}
.servicePage .other_services .grid .box {
    width: 100%;
    height: 100%;
    padding: 25px;
    background: #f2f2f2;
    padding-bottom: 50px;
    position: relative;
}
.servicePage .other_services .grid .box .bg {
    height: 97%;
    width: auto;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
    opacity: 0.5;
}
.servicePage .other_services .grid .box .service_title {
    position: relative;
    z-index: 10;
    margin-bottom: 25px;
}
.servicePage .other_services .grid .box p {
    position: relative;
    z-index: 10;
}

@media screen and (max-width: 1750px) {
    .servicePage .container {
        width: 95%;
    }
}
@media screen and (max-width: 1500px) {
    .servicePage .side_boxes .sb2 p {
        margin-bottom: 23px;
    }
    .servicePage .side_boxes .sb1 {
        padding: 20px;
    }
    .servicePage .side_boxes .sb2 {
        padding: 20px;
    }
}
@media screen and (max-width: 1300px) {
    .servicePage .spabox {
        margin-right: 14px;
    }
    .servicePage .side_boxes .sb1 {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
    }
    .servicePage .side_boxes .sb1 .service_title {
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 1100px) {
    .servicePage .other_services .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 1000px) {
    .servicePage .first.flex {
        flex-direction: column;
    }
    .servicePage .spabox {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
        height: 460px;
    }
    .servicePage .side_boxes {
        width: 100%;
        display: flex;
    }
    .servicePage .side_boxes .sb1 {
        margin-bottom: 0;
        margin-right: 20px;
    }
}
@media screen and (max-width: 700px) {
    .servicePage .container .playfair {
        font-size: 27px;
    }
    .servicePage .spabox .inner_box {
        padding: 26px 17px;
    }
    .servicePage .spabox p {
        margin: 9px 0;
    }
    .servicePage .spabox {
        height: 347px;
    }
    .servicePage .side_boxes {
        width: 100%;
        flex-direction: column;
    }
    .servicePage .side_boxes .sb1 {
        margin-bottom: 20px;
        margin-right: 0;
        height: auto;
        padding-top: 100px;
    }
    .servicePage .side_boxes .sb2 {
        height: auto;
    }
    .servicePage .other_services .grid {
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 550px) {
    .servicePage .back_button .text {
        display: none;
    }
}
