.service_slider .img {
  /* width: 496px; */
  height: 311px;
  outline: none;
}
.service_slider div {
  margin: 0 5px;
}
.service_slider .slick-list {
  height: 311px;
}
.service_slider {
  margin-bottom: 110px;
}
@media screen and (max-width: 1300px) {
  .service_slider {
    margin-bottom: 63px;
  }
}
@media screen and (max-width: 500px) {
  .service_slider .img,
  .service_slider .slick-list {
    height: 205px;
  }
}
