@font-face {
    font-family: "bpg";
    src: url(/fonts/geo/bpg2010.ttf) !important;
}
@font-face {
    font-family: "igv";
    src: url(/fonts/geo/igv2014.ttf) !important;
}

*,
*::after,
*::before {
    font-family: "bpg";
}
body {
    font-family: "bpg";
}
.playfair {
    font-family: "igv";
}

