/*@font-face {*/
/*    font-family: "bpg";*/
/*    src: url(/fonts/geo/bpg2010.ttf) !important;*/
/*}*/
/*@font-face {*/
/*    font-family: "igv";*/
/*    src: url(/fonts/geo/igv2014.ttf) !important;*/
/*}*/

/**,*/
/**::after,*/
/**::before {*/
/*    font-family: "bpg";*/
/*}*/
/*body {*/
/*    font-family: "bpg";*/
/*}*/
/*.playfair {*/
/*    font-family: "igv";*/
/*}*/
@font-face {
    font-family: "worksans";
    src: url(/fonts/geo/bpg2010.ttf);
}
@font-face {
    font-family: "playfair";
    src: url(/fonts/geo/alk_tommaso.ttf);
}
*,
*::after,
*::before {
    font-family: "worksans";
}
body {
    font-family: "worksans";
}
.playfair {
    font-family: "playfair";
}

