.languages {
    position: relative;
    text-transform: uppercase;
    cursor: default;
}
.languages .drop {
    position: absolute;
    left: 0;
    top: 100%;
    transform: scaleY(0.5);
    transform-origin: top;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}
.languages a {
    font-family: "playfair";
}
.languages .on {
    position: relative;
}
.languages .on::before {
    left: -20px;
    width: 15px;
    height: 15px;
    top: 50%;
    transform: translateY(-50%);
    background: url(/img/icons/header/globe.svg) no-repeat;
    background-position: center;
    background-size: contain;
}
.languages .on::after {
    right: -17px;
    width: 12px;
    height: 7px;
    top: 50%;
    transform: translateY(-50%);
    background: url(/img/icons/header/arrowdown.svg) no-repeat;
    background-position: center;
    background-size: contain;
    transition: 0.3s;
    transform-origin: top;
}
.languages:hover .drop {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}
.languages:hover .on::after {
    transform: rotate(180deg);
}
