.galleryPage {
  background: url(/img/general/line-bg.png);
  background-position: center;
  background-size: contain;
  padding-bottom: 66px;
}
.galleryPage .gallery_grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 16px;
  padding-top: 88px;
  margin-bottom: 50px;
}
.galleryPage .gallery_grid .img {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.galleryPage .gallery_grid .img::before {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #334e60;
  opacity: 0;
  transition: 0.5s;
  z-index: 100;
}
.galleryPage .gallery_grid .img::after {
  width: 18px;
  height: 18px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1.5);
  background: url(/img/icons/magnifier.svg) no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 100;
  transition: 0.5s;
  opacity: 0;
}
.galleryPage .gallery_grid .img img {
  transition: 0.5s;
}
.galleryPage .gallery_grid .img:hover::before {
  opacity: 0.5;
}
.galleryPage .gallery_grid .img:hover::after {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.galleryPage .gallery_grid .img:hover img {
  transform: scale(1.2);
}

@media screen and (max-width: 1200px) {
  .galleryPage .gallery_grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 900px) {
  .galleryPage .gallery_grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .galleryPage .gallery_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 450px) {
  .galleryPage .gallery_grid {
    grid-template-columns: 1fr;
  }
}
