@font-face {
    font-family: "worksans";
    src: url(/fonts/geo/bpg2010.ttf);
}
@font-face {
    font-family: "playfair";
    src: url(/fonts/geo/alk_tommaso.ttf);
}
*,
*::after,
*::before {
    font-family: "worksans";
}
body {
    font-family: "worksans";
}
.playfair {
    font-family: "playfair";
}
