.apartmentPage .wrapper {
    padding: 134px 0;
    background: url(/img/general/line-bg.png);
    background-position: center;
    background-size: contain;
    align-items: flex-end;
}
.apartmentPage .apartment_img {
    margin: 0 30px;
    display: none;
}
.apartmentPage .apartment_img.show {
    display: block;
}
.apartmentPage .details {
    color: #334e60;
}
.apartmentPage .details .floor {
    font-size: 46px;
    margin-bottom: 4px;
}
.apartmentPage .details .apartment {
    font-size: 28px;
}
.apartmentPage .details .specifications {
    margin: 40px 0;
}
.apartmentPage .details h6 {
    text-transform: uppercase;
    font-size: 16px;
    opacity: 0.5;
    margin-bottom: 10px;
}
.apartmentPage .details .total_area {
    font-size: 37px;
}
.apartmentPage .details .pdf {
    justify-content: flex-start;
    margin-top: 40px;
}
.apartmentPage .details .pdf p {
    opacity: 0.5;
    margin-left: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

@media screen and (max-width: 1400px) {
    .apartmentPage .apartment_img {
        width: 60%;
    }
}
@media screen and (max-width: 1100px) {
    .apartmentPage .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        align-items: flex-start;
    }
    .apartmentPage .apartment_img {
        width: 100%;
        grid-column: span 2;
        grid-row: 1;
        margin: 0;
    }
}
@media screen and (max-width: 700px) {
    .apartmentPage .details .floor {
        font-size: 35px;
        margin-bottom: 0px;
    }
    .apartmentPage .details .specifications {
        margin: 21px 0;
    }
    .apartmentPage .details h6 {
        margin-bottom: 7px;
    }

    .apartmentPage .details .specifications p {
        font-size: 14px;
    }
    .apartmentPage .details .total_area {
        font-size: 30px;
    }
    .apartmentPage .details .pdf {
        margin-top: 19px;
    }
}
@media screen and (max-width: 440px) {
    .apartmentPage .wrapper {
        grid-template-columns: 1fr;
    }
    .apartmentPage .apartment_img {
        grid-column: 1;
    }
    .apartmentPage .details .floor {
        font-size: 29px;
    }
    .apartmentPage .details .apartment {
        font-size: 21px;
    }
    .apartmentPage .details .total_area {
        font-size: 26px;
    }
}
