.floorPlan {
    padding-bottom: 240px;
}
.floorPlan .background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}
.floorPlan .back_button {
    flex-direction: column;
}
.floorPlan .back_button .text {
    opacity: 1;
    margin-left: 0;
    margin-top: 10px;
}
.floorPlan .head {
    text-align: center;
    color: #334e60;
    text-transform: uppercase;
    margin-bottom: 84px;
    padding-top: 32px;
    font-weight: bold;
}
.floorPlan .head .block {
    opacity: 0.5;
    font-size: 29px;
    margin-bottom: 10px;
}
.floorPlan .head .disabled {
    opacity: 0.5;
    cursor: default;
}
.floorPlan .head .flex .bold {
    font-size: 46px;
    margin: 0px 15px;
}
.floorPlan .head .left {
    transform: rotate(180deg) translateY(5px);
}

.floorPlan .container {
    width: 1500px;
    margin: auto;
    position: relative;
    text-align: center;
}
.floorPlan.smaller .container {
    width: 800px;
}
.floorPlan .container svg {
    width: 100%;
}
.floorPlan .st0 {
    opacity: 0;
    transition: 0.3s;
    fill: #126d2a;
}
.floorPlan .st0.sold {
    fill: url(#sold_image);
    cursor: default;
    opacity: 1 !important;
}
.floorPlan .st0:hover {
    opacity: 0.6;
}

:root {
    --tooltip-position: translateY(180px) translateX(-50%);
    --tooltip-position2: translateY(50px) translateX(-50%);
}

@media screen and (max-width: 1550px) {
    .floorPlan .container {
        width: 95%;
    }
}
@media screen and (max-width: 1200px) {
    .floorPlan .head .block {
        font-size: 20px;
        margin-bottom: 5px;
    }
    .floorPlan .head .flex .bold {
        font-size: 30px;
        margin: 0px 12px;
    }
    .floorPlan .head .flex svg {
        width: 18px;
    }
}
@media screen and (max-width: 1000px) {
    :root {
        --tooltip-position: translateY(50px) translateX(-50%);
        --tooltip-position2: translateY(0px) translateX(-50%);
    }
    .floorPlan.smaller .container {
        width: 95%;
    }
}
@media screen and (max-width: 700px) {
    :root {
        --tooltip-position: translateY(0) translateX(-50%);
    }
    .floorPlan .head {
        margin-bottom: 47px;
        padding-top: 141px;
    }
    .floorPlan .back_button {
        flex-direction: row;
    }
    .floorPlan .back_button .text {
        margin-left: 10px;
        margin-top: 0;
    }
    .floorPlan {
        padding-bottom: 83px;
    }
}
@media screen and (max-width: 500px) {
    .floorPlan {
        padding-bottom: 129px;
    }
    .floor .floorPlan .head {
        padding-top: 85px;
    }
    .floorPlan .head .flex .bold {
        font-size: 25px;
    }
    .floorPlan .head .block {
        font-size: 17px;
        margin-bottom: 9px;
    }
}
