.footer .body {
    text-align: center;
    padding: 228px 0;
    background: url(/img/general/footer.png) no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    position: relative;
}
.footer .body::before {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), #134d4d3a);
    z-index: 0;
}
.footer .body .playfair {
    font-size: 42px;
    margin-bottom: 30px;
    position: relative;
    z-index: 10;
}
.footer .body p {
    max-width: 350px;
    margin: auto;
    margin-bottom: 30px;
    position: relative;
    z-index: 10;
}
.footer .insite {
    padding: 40px 0;
}
.footer .insite img {
    margin-left: 10px;
}

@media screen and (max-width: 1350px) {
    .footer .body {
        padding: 121px 0;
    }
    .footer .insite {
        padding: 22px 0;
    }
}
@media screen and (max-width: 1000px) {
    .footer .body .playfair {
        font-size: 34px;
        margin-bottom: 19px;
    }
    .footer .body p {
        margin-bottom: 19px;
    }
    .footer .body {
        padding: 83px 0;
    }
}
@media screen and (max-width: 600px) {
    .footer .insite {
        padding: 13px 0;
    }
    .footer .body .playfair {
        font-size: 29px;
        margin-bottom: 11px;
    }
    .footer .body p {
        margin-bottom: 16px;
        font-size: 14px;
    }
    .footer .body {
        padding: 57px 0;
    }
}
