.contact_info.right {
    text-align: right;
}
.contact_info .title {
    text-transform: uppercase;
    margin-top: 25px;
    font-size: 14px;
    font-weight: bold;
}
.contact_info p {
    opacity: 0.5;
    white-space: nowrap;
    margin-top: 10px;
}
.contact_info.right .socialmedia {
    justify-content: flex-end;
}
.contact_info .socialmedia {
    margin-top: 20px;
    justify-content: flex-start;
}

@media screen and (max-width: 1350px) {
    .contact_info p {
        margin-top: 3px;
        font-size: 14px;
    }
    .contact_info .title {
        margin-top: 18px;
    }
}
