.page_path {
    text-transform: uppercase;
    color: #334e60;
    position: absolute;
    right: 40px;
    top: 245px;
    z-index: 100;
}
.page_path p {
    opacity: 0.5;
    font-weight: bold;
}
.page_path p:last-child {
    opacity: 1;
}
.page_path img {
    margin: 0 10px;
}
@media screen and (max-width: 1350px) {
    .page_path {
        top: 132px;
        right: 21px;
        font-size: 14px;
    }
    .page_path img {
        margin: 0 6px;
    }
}
@media screen and (max-width: 600px) {
    .page_path {
        top: 169px;
        font-size: 11px;
        right: auto;
        left: 10px;
    }
}
