.chooseFloor .container {
    width: 1500px;
    height: auto;
    margin: 33px auto;
    position: relative;
}
.chooseFloor .back_button {
    flex-direction: column;
}
.chooseFloor .back_button .text {
    opacity: 1;
    margin-left: 0;
    margin-top: 10px;
}
.chooseFloor .container svg {
    width: 100%;
    height: 100%;
}
.chooseFloor .container svg .st0 {
    opacity: 0;
    transition: 0.2s;
    fill: #7bc2aa;
}
.chooseFloor .container svg a g {
    position: relative;
    width: fit-content;
    height: fit-content;
}
.chooseFloor .container svg a:hover .st0 {
    opacity: 0.6;
}
.chooseFloor .container a.hovered .st0 {
    opacity: 0.6;
}
.chooseFloor .blocks {
    position: absolute;
    top: 0;
    background-color: rgba(255, 255, 255, 0.6);
    height: 100%;
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 90px;
    color: #1b2d39;
}
.chooseFloor .block_a {
    left: 0;
    align-items: flex-end;
    padding-right: 30px;
    text-align: right;
}
.chooseFloor .block_a h1 {
    margin-top: 50px;
}
.chooseFloor .block_b {
    right: 0;
    align-items: flex-start;
    padding-left: 30px;
}
.chooseFloor .block_b h1 {
    margin-top: 150px;
}
.chooseFloor .blocks .line {
    margin-bottom: 30px;
    position: relative;
    width: 100%;
}
.chooseFloor .blocks .line::after {
    left: 0;
    bottom: -10px;
    height: 2px;
    width: 100%;
    background-color: #1b2d39;
    transition: 0.4s;
    transform: scaleX(0);
}
.chooseFloor .block_a .line::after {
    transform-origin: left;
}
.chooseFloor .block_b .line::after {
    transform-origin: right;
}
.chooseFloor .blocks .line h5 {
    font-size: 20px;
    transition: 0.4s;
}
.chooseFloor .blocks h1 {
    font-size: 28px;
}
.chooseFloor .blocks .line p {
    font-size: 13px;
    line-height: 100%;
    margin: 0 20px;
    opacity: 0;
    transition: 0.4s;
}
.chooseFloor .blocks .line:hover p,
.chooseFloor .blocks .line.hovered p {
    opacity: 1;
}
.chooseFloor .blocks .line:hover::after,
.chooseFloor .blocks .line.hovered::after {
    transform: scaleX(1);
}
.chooseFloor .blocks .line:hover h5,
.chooseFloor .blocks .line.hovered h5 {
    transform: scale(1.4);
}

@media screen and (max-width: 1800px) {
    .chooseFloor .container {
        margin-top: 120px;
    }
    .chooseFloor .back_button {
        flex-direction: row;
    }
    .chooseFloor .back_button .text {
        opacity: 1;
        margin-top: 0;
        margin-left: 10px;
    }
}
@media screen and (max-width: 1550px) {
    .chooseFloor .container {
        width: 95%;
    }
    .chooseFloor .block_b h1 {
        margin-top: 118px;
    }
    .chooseFloor .block_a h1 {
        margin-top: 36px;
    }
    .chooseFloor .blocks {
        width: 212px;
    }
    .chooseFloor .block_b {
        padding-left: 15px;
    }
    .chooseFloor .block_a {
        padding-right: 15px;
    }
}
@media screen and (max-width: 1400px) {
    .chooseFloor .blocks {
        padding-bottom: 27px;
    }
    .chooseFloor .blocks h1 {
        margin-top: 20px !important;
        font-size: 23px;
    }
}
@media screen and (max-width: 1150px) {
    .chooseFloor .container {
        margin-top: 96px;
    }
    .chooseFloor .blocks .line {
        flex-direction: column;
        margin-bottom: 17px;
    }
    .chooseFloor .block_a .line {
        flex-direction: column-reverse;
    }
    .chooseFloor .blocks .line p {
        text-align: center !important;
    }
    .chooseFloor .blocks {
        width: 178px;
    }
}
@media screen and (max-width: 1000px) {
    .chooseFloor .blocks {
        position: relative;
        top: auto;
        height: auto;
        width: auto;
        flex-direction: column-reverse;
        align-items: center !important;
    }
    .chooseFloor .both_blocks {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 40px;
    }
    .chooseFloor .block_b {
        right: auto;
        padding-left: 0;
    }
    .chooseFloor .block_a {
        left: auto;
        padding-right: 0;
    }
    .chooseFloor .blocks h1 {
        margin-top: 0 !important;
        font-size: 23px;
        margin-bottom: 30px;
    }
    .chooseFloor .blocks .line p {
        opacity: 1;
    }
}
@media screen and (max-width: 500px) {
    .chooseFloor .blocks {
        align-items: flex-start !important;
        text-align: left !important;
    }
    .chooseFloor .blocks .line {
        align-items: flex-start;
        margin-bottom: 20px;
    }
    .chooseFloor .blocks .line p {
        text-align: left !important;
        margin: 0;
    }
}
